
main{
    display: flex;
    flex-direction: column;
}

.button{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}



.btn-bleu{
    background-color: #FFF;
    color: #000;
    border: solid 1px #000;
    border-radius: 5px;
    padding: 15px;
    text-transform: uppercase;
    cursor: pointer;
    margin-right: 50px;
    width: 200px;
}

.btn-bleu:hover{
    background-color: #000;
    color: #FFF;
    transition: all.5s;
   
}



.btn-bleu2{
    background-color: #ff5e14;
    color: #ffffff;
    border: solid 1px #9c3d12;
    border-radius: 5px;
    padding: 15px;
    text-transform: uppercase;
    cursor: pointer;
    width: 200px;
}

.btn-bleu2:hover{
    background-color: #ffffff;
    color: #000000;
    transition: all.5s;
}

.center-button{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}


.btn-bleuListe{
    background-color: #FFF;
    color: #000;
    border: solid 1px #000;
    border-radius: 5px;
    text-transform: uppercase;
    cursor: pointer;
    margin-right: 50px;
    width: 120px;
    height: 30px;
}

.btn-bleuListe:hover{
    background-color: #000;
    color: #FFF;
    transition: all.5s;
}

.btn-bleuListe2{
    background-color: #ff5e14;
    color: #ffffff;
    border: solid 1px #9c3d12;
    border-radius: 5px;
    text-transform: uppercase;
    cursor: pointer;
    width: 120px;
    height: 30px;
}

.btn-bleuListe2:hover{
    background-color: #ffffff;
    color: #000000;
    transition: all.5s;
}
